body{
    font-family: sans-serif;
    background-color: #e5e5e5;
}

.app{
    width: 300px;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;

}
.bi-plus-lg{
font-size: 20px;
background-color: #abcea1;
padding: 3px;
border-radius: 3px;
}
#addNew{
    background-color: rgba(171, 206, 161, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#tasks{
    display: grid;
    gap: 14px;

}

#tasks div{
background-color: #e2eede;
border: 3px solid #abcea1;
padding: 5px;
border-radius: 6px;
display: grid;
gap: 4px;
}
.options{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.options i{
cursor: pointer;
}


.modal-title{
    background-color: #e2eede;
    border-radius: 5px;
    padding:5px 10px;
    
}
.same{
    background-color: #e2eede;
    border-radius: 5px;
    padding:5px 10px;
    width: 22%;
    display: flex;
    justify-content: center;
}
#close{
    background-color: red;
    border: none;
}
#add{
    background-color: green;
    border: none;
}
#textarea,#textDate,#textInput{
    border: 3px solid #a7ce9d;
}
#cross{
    background-color: red;
    
}